*{
    margin: 0;
    padding: 0;
}
body{
    background: url('images/app-bg.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
.container{
    background-color: #fff;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.taskArea{
    border: 1px solid #ebebe6;
}
.taskTabs{
    display: flex;
    border-bottom: 1px solid #ebebe6;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.taskTabs p:not(:first-child){
    margin-left: 1em;
}

#under-line{
    height: 4px;
    background-color: #EABAF6;
    width: 60px;
    position: absolute;
    left: 0;
    top: 42px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
